numpy>=1.21.3,<2.0.0
matplotlib
scipy
streamlit==1.40.1
streamlit-drawable-canvas<=0.9.3
tifffile>=2023.0.0
pyyaml>=6.0.1
scikit-image>=0.19.2  # For SSIM computation
Pillow>=8.0.0
tqdm  # For progress bars